body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#reset-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#reset-button:hover {
    background-color: #45a049;
}


h1 {
    margin-top: 20px;
    color: #333;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
    background-color: #ccc;
    padding: 5px;
    border-radius: 5px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #999;
    cursor: pointer;
    user-select: none;
}

.cell:hover {
    background-color: #aaa;
}

.cell.revealed {
    background-color: #eee;
    border: 1px solid #888;
    cursor: default;
}

.cell.mine {
    background-color: red;
}

.cell.flag {
    background-color: yellow;
}
